.ContactForm {
    width: 80vw;
    max-width: 800px;
    padding: 40px;
    background: rgba($color: #252525, $alpha: 0.6);
    box-shadow: 0 15px 25px #F6F6F6;
    border-radius: 10px;

    .nameBox {
        input {
            position: relative;
            width: 100%;
            padding: 5px;
            font-size: 1.2rem;
            color: #F6F6F6;
            margin-bottom: 30px;
            border: none;
            border-bottom: 1px solid #F6F6F6;
            border-left: 1px solid #F6F6F6;
            border-radius: 0 0 0 10px ;
            outline: none;
            background: transparent;
        }

        label {
            padding: 10px 0;
            font-size: 1.2rem;
            color: #F6F6F6;
            pointer-events: none;
            transition: 500ms;
        }
    }

    .emailBox {
        input {
            position: relative;
            width: 100%;
            padding: 5px;
            font-size: 1.2rem;
            color: #F6F6F6;
            margin-bottom: 30px;
            border: none;
            border-bottom: 1px solid #F6F6F6;
            border-left: 1px solid #F6F6F6;
            border-radius: 0 0 0 10px ;
            outline: none;
            background: transparent;
        }

        label {
            padding: 10px 0;
            font-size: 1.2rem;
            color: #F6F6F6;
            pointer-events: none;
            transition: 500ms;
        }
    }

    .messageBox {
        textarea {
            position: relative;
            min-width: 100%;
            max-width: 100%;
            width: 100%;
            padding: 5px;
            font-size: 1.2rem;
            color: #F6F6F6;
            margin-bottom: 30px;
            border: none;
            border-bottom: 1px solid #F6F6F6;
            border-left: 1px solid #F6F6F6;
            border-radius: 0 0 0 10px ;
            outline: none;
            background: transparent;
        }

        label {
            padding: 10px 0;
            font-size: 1.2rem;
            color: #F6F6F6;
            pointer-events: none;
            transition: 500ms;
        }
    }
    form {
        display: flex;
        flex-direction: column;

        button {
            padding: 10px 20px;
            color: #F6F6F6;
            font-size: 1.5rem;
            text-decoration: none;
            transition: 500ms;
            border: 1px solid #F95959;
            margin: 0 auto;
            background: transparent;
            border-radius: 10px;

            &:hover {
                cursor: pointer;
                background: #F95959;
                box-shadow: 0 0 5px #F95959, 0 0 50px #F95959;
            }
        }
    }
}

@media screen and(max-width:850px) {
    .ContactForm {
        height: 400px;
        width: 80vw;
    }
}