.Carousel {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.CarouselItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 300ms ease;
    width: 55%;

    &:hover{
        transform: scale(1.1);

        a {
            img {
                filter: none;
            }
        }

        .ItemDesc {
            transform: translateY(20px);
            height: 100px;
            width: 60%;

            b {
                position: unset;
                opacity: 0;
            }

            p {
                font-size: 1vw;
                position: relative;
                top: -30%;
                opacity: 1;
            }
        }
    }

    a {
        display: flex;
        justify-content: center;

        img {
            width: 100%;
            filter: brightness(0.2);
            transition: all 300ms ease;
        }
    }
}

.ItemDesc {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 250px;
    height: 50px;
    background: rgba($color: #F6F6F6, $alpha: 1);
    transform: translateY(-150%);
    border-radius: 25px;
    color: #F95959;
    padding: 10px;
    transition: all 300ms ease;

    b {
        font-size: 1.5vw;
        position: relative;
        top: -20%;
        transition: all 300ms ease;
    }

    p {
        margin: 0;
        opacity: 0;
        transition: all 300ms ease;
    }
}

.slideVector {
    height: fit-content;
    border: none;
    color: #F95959;
    background-color: #F6F6F6;
    border-radius: 20px;
    background-size: 100% auto;
    font-family: inherit;
    font-size: 50px;
    width: 100px;
    padding: 10px;

    &:hover {
        cursor: pointer;
        background-position: right center;
        background-size: 200% auto;
        -webkit-animation: pulse 2s infinite;
        animation: pulse512 1.5s infinite;
    }
}

@keyframes pulse512 {
    0% {
     box-shadow: 0 0 0 0 #F6F6F6;
    }
   
    70% {
     box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
    }
   
    100% {
     box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
    }
   }