ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    padding-inline-start: 0;
    margin: 0;

    li {
        display: flex;
        gap: 20px;
        margin: 10px;
        font-size: 1.5rem;

        a {
            text-decoration: none;

            &:hover {
                text-shadow: 3px 3px 2px #939393;
                transform: scale(110%);
            }
        }
    }
}

.NavBloc {
    display: flex;
    align-items: center;
}

.link {
    text-decoration: none;
    color: #F95959;
}

.activated {
    text-decoration: underline #F95959;
    color: #252525;

    &:hover {
        text-shadow: none;
        transform: none;
    }
}